.main_header {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 25px;
}

.sort_button {
  display: flex;
  gap: 24px;

  span {
    font-size: 16px;
    font-weight: 700;
  }
}

.view_switch-button {
  display: flex;
  gap: 14px;
}