@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css"); }

body {
  font-family: 'Pretendard', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

button {
  border: none;
  font: inherit;
  cursor: pointer;
  background-color: inherit; }

html,
body {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  place-items: center;
  min-height: 100vh; }

#root {
  width: 930px; }

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 40px; }

.header__logo img {
  margin-right: 8px; }

.header__logo span {
  font-size: 24px;
  color: #14212b;
  font-weight: 700;
  line-height: 29px; }

.header__current-date {
  font-size: 16px;
  color: #4b5966;
  font-weight: 500;
  line-height: 22px; }

#auto-rolling {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row; }

.auto__box {
  display: flex;
  align-items: flex-start;
  width: 461px;
  height: 49px;
  padding: 16px;
  background: #f5f7f9;
  font-size: 14px;
  flex-direction: row; }
  .auto__box .auto__media {
    width: 49px;
    color: #14212b;
    font-weight: 700;
    margin-right: 16px; }

.auto__viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
  color: #4b5966;
  font-weight: 500;
  min-width: 80%; }
  .auto__viewport .auto__camera {
    width: auto;
    will-change: transform;
    transform: translate3d(0px, 0px, 0px); }
  .auto__viewport .auto__panel {
    position: absolute;
    top: 0px;
    width: auto; }

main {
  position: relative; }

.main-header {
  margin-top: 34.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.main-header__media {
  display: flex;
  flex-direction: row;
  align-items: flex-end; }
  .main-header__media .main-header__all-media {
    font-weight: 700;
    font-size: 16px;
    margin-right: 24px;
    color: #14212b; }
  .main-header__media .main-header__my-media {
    font-weight: 500;
    font-size: 16px;
    color: #879298; }

.main-header__buttons {
  display: flex;
  align-items: center; }
  .main-header__buttons .main-header__list-button {
    margin-right: 14px; }

.left-button,
.right-button {
  position: absolute;
  width: 24px;
  height: 40px;
  top: 50%; }

.left-button {
  left: -47px; }

.right-button {
  right: -47px; }

.list-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 2V16H2V2H16ZM17.1 0H0.9C0.4 0 0 0.4 0 0.9V17.1C0 17.5 0.4 18 0.9 18H17.1C17.5 18 18 17.5 18 17.1V0.9C18 0.4 17.5 0 17.1 0ZM8 4H14V6H8V4ZM8 8H14V10H8V8ZM8 12H14V14H8V12ZM4 4H6V6H4V4ZM4 8H6V10H4V8ZM4 12H6V14H4V12Z' fill='%23d2dae0'/%3E%3C/svg%3E%0A"); }

.grid-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M0 8V0H8V8H0ZM0 18V10H8V18H0ZM10 8V0H18V8H10ZM10 18V10H18V18H10ZM2 6H6V2H2V6ZM12 6H16V2H12V6ZM12 16H16V12H12V16ZM2 16H6V12H2V16Z' fill='%23d2dae0'/%3E%3C/svg%3E"); }

.list-icon__enable {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 2V16H2V2H16ZM17.1 0H0.9C0.4 0 0 0.4 0 0.9V17.1C0 17.5 0.4 18 0.9 18H17.1C17.5 18 18 17.5 18 17.1V0.9C18 0.4 17.5 0 17.1 0ZM8 4H14V6H8V4ZM8 8H14V10H8V8ZM8 12H14V14H8V12ZM4 4H6V6H4V4ZM4 8H6V10H4V8ZM4 12H6V14H4V12Z' fill='%234362d0'/%3E%3C/svg%3E%0A"); }

.grid-icon__enable {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M0 8V0H8V8H0ZM0 18V10H8V18H0ZM10 8V0H18V8H10ZM10 18V10H18V18H10ZM2 6H6V2H2V6ZM12 6H16V2H12V6ZM12 16H16V12H12V16ZM2 16H6V12H2V16Z' fill='%234362d0'/%3E%3C/svg%3E"); }

.main-grid {
  margin-top: 26.5px;
  width: 930px;
  height: 388px; }

.main-grid__page {
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  border-top: 1px solid #d2dae0;
  border-left: 1px solid #d2dae0; }

.none {
  display: none; }

.grid {
  display: grid; }

.main-grid__box {
  position: relative;
  border-right: 1px solid #d2dae0;
  border-bottom: 1px solid #d2dae0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; }

.main-grid__logo {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center; }

.popup-wrap {
  position: relative;
  background-color: #f5f7f9;
  width: inherit;
  height: inherit; }

.subscribe-button,
.unsubscribe-button {
  position: absolute;
  top: 36px;
  left: 40px; }

.main-list {
  margin-top: 26.5px;
  width: 930px;
  height: 388px;
  display: flex;
  flex-direction: column; }
  .main-list .main-list__nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    background: #f5f7f9;
    border: 1px solid #d2dae0; }
    .main-list .main-list__nav-items .main-list__nav-item {
      padding: 0px 16px;
      font-weight: 500;
      font-size: 14px;
      color: #6e8091; }

.main-list__news {
  height: 348px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #d2dae0;
  border-top: none; }
  .main-list__news-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px; }
    .main-list__news-header .main-list__logo {
      height: 20px;
      margin-right: 16px; }
    .main-list__news-header .main-list__edit-time {
      font-weight: 500;
      font-size: 13px;
      margin-right: 16px;
      color: #5f6e76; }
  .main-list__news .main-list__media-content {
    margin-top: 16px;
    height: 260px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; }
    .main-list__news .main-list__media-content .main-news {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 32px;
      width: 320px; }
      .main-list__news .main-list__media-content .main-news .main-news__img {
        width: 100%;
        height: 200px;
        margin-bottom: 16px;
        overflow: hidden;
        border: 1px solid #d2dae0; }
        .main-list__news .main-list__media-content .main-news .main-news__img img {
          width: inherit;
          height: inherit; }
      .main-list__news .main-list__media-content .main-news .main-news__title {
        font-weight: 500;
        font-size: 16px;
        color: #14212b; }
    .main-list__news .main-list__media-content .sub-news .sub-news__items {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .main-list__news .main-list__media-content .sub-news .sub-news__items .sub-news__item {
        height: 22px;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #4b5966; }
    .main-list__news .main-list__media-content .sub-news .news-footer {
      height: 17px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #879298; }

.list__subscribe-button {
  height: 24px; }

.sub-news__item:hover {
  text-decoration: underline; }

.main-news:hover img {
  transform: scale(1.05); }

.main-news:hover .main-news__title {
  text-decoration: underline; }
