$white70: rgba(255, 255, 255, 0.7);
$white: #ffffff;
$off-white: #f5f7f9;
$gray100: #d2dae0;
$gray200: #879298;
$gray300: #6e8091;
$gray400: #5f6e76;
$gray500: #4b5966;
$black: #14212b;
$primary: #4362d0;
