/* Color */
$white: #ffffff;
$white70: #ffffff, 70%;
$off-white: #f5f7f9;
$gray100: #d2dae0;
$gray200: #879298;
$gray300: #6e8091;
$gray400: #5f6e76;
$gray500: #4b5966;
$black: #14212b;
$primary: #4362d0;

/* Typography */
$Display: 2.4rem;
$Title_md: 1.6rem;
$Title_sm: 1.4rem;
$Title_xs: 1.2rem;
$Body_md: 1.6rem;
$Body_sm: 1.4rem;
$Body_xs: 1.2rem;

$Bold: 700;
$Medium: 500;
