@import '../abstracts/variables';

#auto-rolling {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}

.auto__box {
  display: flex;
  align-items: flex-start;

  width: 461px;
  height: 49px;

  padding: 16px;

  background: $off-white;
  font-size: 14px;
  flex-direction: row;
  .auto__media {
    width: 49px;
    color: $black;
    font-weight: 700;
    margin-right: 16px;
  }
}

.auto__viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
  color: $gray500;
  font-weight: 500;
  min-width: 80%;
  .auto__camera {
    width: auto;
    will-change: transform;
    transform: translate3d(0px, 0px, 0px);
  }
  .auto__panel {
    position: absolute;
    top: 0px;
    width: auto;
  }
}

.auto__panel:hover {
  text-decoration: underline;
}
