@import '../abstracts/variables';
@import '../abstracts/functions';
main {
  position: relative;
}

.main-header {
  margin-top: 34.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-header__media {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.main-header__buttons {
  display: flex;
  align-items: center;
  .main-header__list-button {
    margin-right: 14px;
  }
}

.left-button,
.right-button {
  position: absolute;
  width: 24px;
  height: 40px;
  top: 50%;
}

.left-button {
  left: -47px;
}
.right-button {
  right: -47px;
}

.list-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: icon(list, 'd2dae0');
}
.list-icon:hover {
  background-image: icon(list, '6e8091');
}

.grid-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: icon(grid, 'd2dae0');
}

.grid-icon:hover {
  background-image: icon(grid, '6e8091');
}

.list-icon__enable {
  background-image: icon(list, '4362d0');
}
.list-icon__enable:hover {
  background-image: icon(list, '4362d0');
}

.grid-icon__enable {
  background-image: icon(grid, '4362d0');
}
.grid-icon__enable:hover {
  background-image: icon(grid, '4362d0');
}

.main-header__all-media {
  font-size: 16px;
  font-weight: 500;
  margin-right: 24px;
  color: $gray200;
}
.main-header__my-media {
  font-weight: 500;
  font-size: 16px;
  color: $gray200;
}
.bold {
  font-weight: 700;
  color: $black;
}
