@import '../abstracts/variables';

.main-grid {
  margin-top: 26.5px;
  width: 930px;
  height: 388px;
}

.main-grid__page {
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
}

.none {
  display: none;
}
.grid {
  display: grid;
}
.main-grid__box {
  position: relative;
  border: 1px solid #d2dae0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.main-grid__logo {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-wrap {
  position: relative;
  background-color: $off-white;
  width: inherit;
  height: inherit;
}
.subscribe-button,
.unsubscribe-button {
  position: absolute;
  top: 36px;
  left: 40px;
}
