.newssection_view {
  .newssection_view_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);

    border-top: 1px solid $gray100;
    border-left: 1px solid $gray100;

    .grid_items {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 155px;
      height: 97px;
      border-right: 1px solid $gray100;
      border-bottom: 1px solid $gray100;

      .press_logo {
        width: 50px;
        height: 28px;
      }

      .hidden {
        display: none;
      }

      a {
        cursor: pointer;
      }
    }
  }
}
