* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
  top: 15vh;
  width: 1280px;
  height: 720px;
  padding: 50px 0 60px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--black);
}
