@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css');

body {
  font-family: Pretendard, sans-serif;
  color: $black;
}

.header {
  &__logo {
    @include fontType($display);
  }
  &__today {
    @include fontType($body-MD);
    color: $gray500;
  }
}

.main-content__header {
  .press-tab {
    @include fontType($body-MD);
    color: $gray200;
    &-btn.active {
      @include fontType($title-MD);
      color: $black;
    }
  }
}

.nav-bar {
  &__press {
    @include fontType($title-SM);
    white-space: nowrap;
  }

  &__headLine-wrapper {
    @include fontType($body-SM);
    color: $gray500;
  }
}

.subscribe-toggle-btn {
  @include fontType($body-XS);
  color: $gray200;
}

.press-list__category {
  li {
    @include fontType($body-SM);
    color: $gray300;
  }
  .current-category {
    color: $white;

    &__count {
      @include fontType($title-XS);
    }

    &__entire {
      color: $white70;
    }
  }
}

.update-time {
  @include fontType($body-XS);
  color: $gray400;
}

.main-news__content {
  @include fontType($body-MD);
}

.press-list__sub-news {
  @include fontType($body-MD);
  color: $gray500;

  .sub-news__press-edit-info {
    @include fontType($body-SM);
    color: $gray200;
  }
}
