@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css');

body {
  font-family: Pretendard, sans-serif;
  color: $black;
}

.header {
  &__logo {
    @include fontType($display);
  }
  &__today {
    @include fontType($body-MD);
    color: $gray500;
  }
}

.main-content__header {
  .press-tab {
    @include fontType($body-MD);
    color: $gray200;
    &-btn.active {
      @include fontType($title-MD);
      color: $black;
    }
  }
}
