/* Color */
/* Typography */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  font: inherit; }

html {
  font-size: 62.5%; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh; }

.newsstand_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 970px;
  height: 630px;
  padding: 20px; }

@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-style: normal; }

body {
  font-family: 'Pretendard', sans-serif; }

.newssection_view .newssection_view_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border-top: 1px solid #d2dae0;
  border-left: 1px solid #d2dae0; }
  .newssection_view .newssection_view_grid .grid_items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 97px;
    border-right: 1px solid #d2dae0;
    border-bottom: 1px solid #d2dae0; }
    .newssection_view .newssection_view_grid .grid_items .press_logo {
      width: 50px;
      height: 28px; }
    .newssection_view .newssection_view_grid .grid_items .hidden {
      display: none; }
    .newssection_view .newssection_view_grid .grid_items a {
      cursor: pointer; }

.newsstand_header {
  display: flex;
  justify-content: space-between; }
  .newsstand_header .newsstand_header_title {
    display: flex;
    width: 160px; }
    .newsstand_header .newsstand_header_title a {
      cursor: pointer; }
      .newsstand_header .newsstand_header_title a .header_title_logo {
        width: 24px;
        height: 20px;
        margin-top: 5px; }
      .newsstand_header .newsstand_header_title a .header_title_text {
        margin-left: 6px;
        font-size: 2.4rem;
        font-weight: 700;
        font-family: 'Pretendard', sans-serif; }
  .newsstand_header .newsstand_header_date {
    margin-top: 3px;
    color: #4b5966;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Pretendard', sans-serif;
    line-height: 3.2rem; }

.newsstand_headline_container {
  display: flex; }
  .newsstand_headline_container .newsstand_headline {
    display: flex;
    width: 461px;
    padding: 16px;
    border: 1px solid #d2dae0;
    background-color: #f5f7f9; }
    .newsstand_headline_container .newsstand_headline .headline_press {
      width: 49px;
      margin-right: 10px;
      font-size: 1.4rem;
      font-weight: 700;
      font-family: 'Pretendard', sans-serif; }
    .newsstand_headline_container .newsstand_headline .headline_rolling_container {
      overflow: hidden;
      height: 17px; }
      .newsstand_headline_container .newsstand_headline .headline_rolling_container .headline_rolling_news {
        width: 300px;
        height: calc(5 * 17px); }
        .newsstand_headline_container .newsstand_headline .headline_rolling_container .headline_rolling_news > li {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          height: 17px;
          font-size: 1.4rem;
          font-weight: 500;
          font-family: 'Pretendard', sans-serif;
          line-height: 1.8rem; }
  .newsstand_headline_container .left {
    margin-right: 5px; }
  .newsstand_headline_container .right {
    margin-left: 5px; }

.newsstand_newssection {
  width: 930px; }
  .newsstand_newssection .newsstand_newssection_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }
    .newsstand_newssection .newsstand_newssection_header a {
      cursor: pointer; }
    .newsstand_newssection .newsstand_newssection_header .header_sort_buttons {
      display: flex;
      gap: 10px;
      font-size: 1.6rem;
      font-weight: 700;
      font-family: 'Pretendard', sans-serif; }
      .newsstand_newssection .newsstand_newssection_header .header_sort_buttons .all_press_show_button {
        color: #14212b; }
      .newsstand_newssection .newsstand_newssection_header .header_sort_buttons .subscribe_press_show_button {
        color: #879298; }
    .newsstand_newssection .newsstand_newssection_header .header_view_buttons {
      display: flex;
      gap: 10px; }
  .newsstand_newssection .newssection_slide_buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 390px;
    left: -30px;
    width: 1030px; }
    .newsstand_newssection .newssection_slide_buttons .hidden {
      visibility: hidden; }

.newssection_view .newssection_view_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 930px;
  height: 388px; }
  .newssection_view .newssection_view_list .list_header {
    display: flex;
    align-items: center;
    width: 930px;
    height: 40px;
    padding: 16px 0px;
    border: 1px solid #d2dae0;
    background-color: #f5f7f9; }
    .newssection_view .newssection_view_list .list_header .list_header_category {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      padding: 0px 14px;
      gap: 8px;
      color: #6e8091;
      cursor: pointer; }
    .newssection_view .newssection_view_list .list_header .show {
      display: flex;
      align-items: center;
      padding: 0px 16px;
      gap: 8px;
      width: 166px;
      height: 40px;
      background: linear-gradient(90deg, #4362d0 0%, #4362d0 29.02%, #7890e7 29.03%, #7890e7 100%);
      color: #ffffff;
      cursor: inherit; }
  .newssection_view .newssection_view_list .list_view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 930px;
    height: 348px;
    padding: 24px;
    gap: 16px;
    border: 1px solid #d2dae0; }
    .newssection_view .newssection_view_list .list_view .list_view_top {
      display: flex;
      align-items: center;
      width: 882px;
      height: 24px;
      gap: 16px; }
      .newssection_view .newssection_view_list .list_view .list_view_top .press_logo {
        width: 60px;
        height: 20px; }
      .newssection_view .newssection_view_list .list_view .list_view_top .updatetime {
        text-align: center;
        width: 125px;
        height: 14px;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: 'Pretendard', sans-serif;
        line-height: 14px;
        color: #5f6e76; }
      .newssection_view .newssection_view_list .list_view .list_view_top .subbutton {
        width: 74px;
        height: 24px; }
      .newssection_view .newssection_view_list .list_view .list_view_top .nosubbutton {
        width: 24px;
        height: 24px; }
    .newssection_view .newssection_view_list .list_view .list_view_bottom {
      display: flex; }
      .newssection_view .newssection_view_list .list_view .list_view_bottom .bottom_main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 320px;
        height: 260px;
        padding: 0px;
        gap: 16px; }
        .newssection_view .newssection_view_list .list_view .list_view_bottom .bottom_main .main_news_img {
          box-sizing: border-box;
          width: 320px;
          height: 200px;
          border: 1px solid #d2dae0; }
        .newssection_view .newssection_view_list .list_view .list_view_bottom .bottom_main .main_news_text {
          width: 320px;
          height: 44px;
          font-size: 1.6rem;
          font-weight: 500;
          font-family: 'Pretendard', sans-serif; }
      .newssection_view .newssection_view_list .list_view .list_view_bottom .bottom_sub {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 530px;
        height: 245px;
        padding: 0px;
        gap: 16px; }
        .newssection_view .newssection_view_list .list_view .list_view_bottom .bottom_sub .sub_list {
          display: flex;
          flex-direction: column;
          gap: 16px; }
          .newssection_view .newssection_view_list .list_view .list_view_bottom .bottom_sub .sub_list li {
            width: 530px;
            height: 22px;
            padding-left: 40px;
            font-size: 1.6rem;
            font-weight: 500;
            font-family: 'Pretendard', sans-serif;
            line-height: 22px; }
        .newssection_view .newssection_view_list .list_view .list_view_bottom .bottom_sub .sub_instruction {
          width: 530px;
          height: 17px;
          padding-left: 40px;
          font-size: 1.4rem;
          font-weight: 500;
          font-family: 'Pretendard', sans-serif;
          line-height: 17px;
          color: #879298; }
  .newssection_view .newssection_view_list a {
    cursor: pointer; }
