* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "pretendard", sans-serif;
  position: relative;
  width: 100vw;
  height: 100vh;
}

li {
  list-style: none;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 930px;
}

.news-stand {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}

.news-stand__label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.latest-news {
  display: flex;
  gap: 8px;

  margin-bottom: 32px;
}

.latest-news__bar {
  padding: 16px;
  background-color: #f5f7f9;

  flex-grow: 1;
}

.latest-news__window {
  width: 100%;
  height: 17px;
  background-color: yellow;
  opacity: 0.5;

  position: relative;

  overflow-y: hidden;
}

.latest-news__container {
  position: absolute;
  top: 0;

  transition: transform 250ms;
}

.latest-news__container.slide {
  transform: translateY(-50%);
}

.options {
  display: flex;
  justify-content: space-between;
  height: 24px;

  margin-bottom: 24px;
}

.view-option__all {
  margin-right: 24px;
}

.news-list__grid {
  position: relative;
  height: 388px;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button--left {
  left: -47px;
}

.button--right {
  right: -47px;
}

.button__image {
  height: 40px;
  width: 24px;
}

.news-list__item {
  border: 1px solid #d2dae0;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.news-list__image {
  height: 20px;
}

.subscribe {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.hidden {
  display: none;
}

.news-list__list {
  width: 980px;
  height: 388px;
  position: relative;
}

.tab-container {
  height: 40px;
}

.press-info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.newses {
  display: flex;
  gap: 32px;
}

.main-news {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.thumbnail {
  width: 320px;
  height: 200px;
}

.sub-news {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.caption {
  color: #879298;
  font-size: 14px;
}
