$white70: rgba(255, 255, 255, 0.7);
$white: #FFF;
$offwhite: #F5F7F9;
$gray100: #D2DAE0;
$gray200: #879298;
$gray300: #6E8091;
$gray400: #5f6E76;
$gray500: #4B5966;
$black: #14212B;
$primary: #4362D0;
$lighterColor: #7890E7;
$icon-gray100: 'D2DAE0';
$icon-gray300: '6E8091';
$icon-primary: '4362D0';

$display: 24px;
$titleMD: 16px;
$titleSM: 14px;
$titleXS: 12px;
$bodyMD: 16px;
$bodySM: 14px;
$bodyXS: 12px;

$bold: 700;
$medium: 500;

$containerWidth: 930px;
$containerHeight: 390px;

$boxWidth: 320px;

$popupZindex: 1000;

$afterWidth: 1280px;
$afterHeight: 450px;
$afterZindex: 100;