.news-stand-jounalList {
  width: 70%;
  height: auto;
}

.journal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.journal-area {
  display: flex;
  gap: 20px;
}

.journal-btns {
  display: flex;
  gap: 10px;
}

.journal-container {
  display: grid;
  grid-template-columns: repeat(24, minmax(150px, 150px));
  grid-template-rows: repeat(4, minmax(95px, 95px));
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.journal-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray100);
  width: 100%;
  height: 100%;
}

.journal-item img {
  width: 50%;
}

.journal-carousel {
  position: relative;
}

.journal-carousel-btn:first-child {
  position: absolute;
  z-index: 1;
  left: 1px;
  top: 44%;
  background-color: white;
  border: none;
}

.journal-carousel-btn:nth-child(2) {
  position: absolute;
  z-index: 1;
  right: 1px;
  top: 44%;
  background-color: white;
  border: none;
}
