.display-flex {
  display: flex;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  align-items: center;
}
