@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css');

:root {
  --typo-display-fontweight: 700;
  --typo-display-fontsize: 24px;
  --typo-display-lineheight: 29px;

  --typo-title-md-fontweight: 700;
  --typo-title-md-fontsize: 16px;
  --typo-title-md-lineheight: 19px;

  --typo-title-sm-fontweight: 700;
  --typo-title-sm-fontsize: 14px;
  --typo-title-sm-lineheight: 17px;

  --typo-title-xs-fontweight: 700;
  --typo-title-xs-fontsize: 12px;
  --typo-title-xs-lineheight: 14px;

  --typo-body-md-fontweight: 500;
  --typo-body-md-fontsize: 16px;
  --typo-body-md-lineheight: 22px;

  --typo-body-sm-fontweight: 500;
  --typo-body-sm-fontsize: 14px;
  --typo-body-sm-lineheight: 17px;

  --typo-body-xs-fontweight: 500;
  --typo-body-xs-fontsize: 12px;
  --typo-body-xs-lineheight: 14px;
}

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}
