<section class="main-list">
  <nav class="main-list__nav">
    <ul class="main-list__nav-items">
      <li class="main-list__nav-item">
        <a href="#">종합/경제</a>
      </li>
      <li class="main-list__nav-item">
        <a href="#">방송/통신</a>
      </li>
      <li class="main-list__nav-item">
        <a href="#">IT</a>
      </li>
      <li class="main-list__nav-item">
        <a href="#">영자지</a>
      </li>
      <li class="main-list__nav-item">
        <a href="#">스포츠/연애</a>
      </li>
      <li class="main-list__nav-item">
        <a href="#">매거진/전문지</a>
      </li>
      <li class="main-list__nav-item">
        <a href="#">지역</a>
      </li>
    </ul>
  </nav>

  <article class="main-list__news">
    <header class="main-list__news-header">
      <img class="main-list__logo" src="" />
      <span class="main-list__edit-time"></span>
      <a class="subscribe-button">
        <img src="./asset/subscribeButton.svg" alt="subscribe" />
      </a>
    </header>
    <article class="main-list__media-content">
      <section class="main-news">
        <img class="main-news__img" src="" />
        <span class="main-news__title"></span>
      </section>
      <section class="sub-news">
        <ul class="sub-news__items">
          <li class="sub-news__item"></li>
          <li class="sub-news__item"></li>
          <li class="sub-news__item"></li>
          <li class="sub-news__item"></li>
          <li class="sub-news__item"></li>
          <li class="sub-news__item"></li>
        </ul>
        <footer class="news-footer"></footer>
      </section>
    </article>
  </article>
</section>
