* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

.newsstand_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 970px;
  height: 630px;
  padding: 20px;
}
