@import "_font.scss";
.news-company {
  &__bar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 930px;
    padding-top: 50px;
  }
  &__grid {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
}
.company__choice {
  &_all {
    @include font(16px, 700);
    line-height: 19px;
    margin-right: 18px;
  }
  &_subscribe {
    @include font(16px, 500);
    line-height: 22px;
    color: var(--color-gray-200);
  }
}

.grid_set {
  display: grid;
  margin: 0 auto;
  width: 930px;
  height: 388px;
  margin-top: 10px;
  grid-template-columns: repeat(6, 155px);
  grid-template-rows: repeat(4, 97px);

  .grid_list {
    position: relative;
    border: 0.5px solid var(--color-gray-100);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 70px;
    }
  }
}
.grid_list:hover .grid_btn {
  display: flex;
}

.grid_btn {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: none;
  background: var(--color-off-white);
  width: 100%;
  height: 100%;
  button {
    @include font(12px, 500);
    line-height: 14px;
    color: var(--color-gray-200);
    background: var(--color-white);
    width: 74px;
    height: 24px;
    border-radius: 50px;
    border: 1px solid var(--color-gray-100);
  }
}

.hidden {
  visibility: hidden;
}

.none {
  display: block;
}
