@import "_font.scss";
.news-company {
  &__bar {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 930px;
    padding-top: 50px;
  }
  &__grid {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
}
.company__choice {
  &_all {
    @include font(16px, 700);
    line-height: 19px;
    margin-right: 18px;
  }
  &_subscribe {
    @include font(16px, 500);
    line-height: 22px;
    color: var(--color-gray-200);
  }
}

.grid_set {
  display: grid;
  margin: 0 auto;
  width: 930px;
  height: 388px;
  margin-top: 10px;
  grid-template-columns: repeat(6, 155px);
  grid-template-rows: repeat(4, 97px);

  div {
    border: 0.5px solid var(--color-gray-100);
    text-align: center;
  }
}
