@import "font.scss";
* {
  box-sizing: border-box;
}
.news__header {
  display: flex;
  width: 1000px;
  padding-top: 50px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  display: flex;
}
.logo_img {
  padding-right: 5px;
}
.logo_text {
  @include font(24px, 700);
}
.date_text {
  @include font(16px, 500);
  color: var(--color-gray-500);
}
