@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none
}

a {
  text-decoration: none;
}

.newsstand {
  width: 800px;
  display: grid;
  margin: 20% 5%;
}

/*
header 영역
*/

.newsstand-header {
  display: grid;
  grid-template-columns: repeat(14,1fr);
  justify-items: end;
  align-items: end;
  padding: 25px 6px;
}

.header-logo {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  gap: 2%;
  justify-content: flex-start;
}

.header-title {
  font-size: 20px;
  font-weight: var(--weight-extra-bold);
}

.header-date {
  font-size: 16px;
  font-weight: 500px;
  grid-column-start: 12;
  grid-column-end: 15;
}

/*
trend news 영역
*/

.newsstand-trendnews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1%;
  padding: 6px;
}

.trend-section {
  display: flex;
  height: 40px;
  border: 1px solid #D2DAE0;
  font-size: var(--font-md);
  justify-items: center;
  align-items: center;
  background-color: var(--off-white);
}

.trend-pressname {
  font-weight: var(--weight-extra-bold);
  padding: 10px;
}
.trend-title {
  flex: 1;
  color: var(--color-gray-700)
}

/*
main 영역
*/

.main__header {
  display: flex;
  padding: 3% 1%;
  justify-content: space-between;
}

.main__filter-btn__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.main__view-btn__container {
  display: flex;
  justify-content: space-between;
  width: 7%;
}

.main__btn {
  font-size: var(--font-lg);
  cursor: pointer;
}

.main__btn.subscribed-press {
  color: var(--color-gray-600);
}

.clicked {
  color: var(--color-black) !important;
  font-weight: var(--weight-extra-bold);
}

.unclicked {
  color: var(--color-gray-600);
  font-weight: 0;
}

/*
grid-view 영역
*/

.grid-view {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 0.5px solid #D2DAE0;
  position: relative;
}

.grid-view > .item__container {
  padding: 20% 15%;
  height: 85px;
  width: 100%;
  border: 0.5px solid #D2DAE0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__container img {
  max-width: 100%;
  line-height: 16px;
}

.view-page-btn {
  user-select:none;
  cursor: pointer;
  box-shadow: 2px 2px 2px #D2DAE0;
  color: var(--color-gray-700);
}

.view-page-btn.right {
  position: absolute;
  top: 140px;
  right: -3%;
  font-size: 20px;
  background-color: white;
  border: 0.5px solid #D2DAE0;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  line-height: 42px;
}

.view-page-btn.left {
  position: absolute;
  top: 140px;
  left: -3%;
  font-size: 20px;
  background-color: white;
  border: 0.5px solid #D2DAE0;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  line-height: 42px;
}

.subscribe-btn {
  height: 20px;
  width: 60px;
  font-size: 11px;
  background-color: var(--color-white);
  color: #879298;
  border: 1px solid #879298;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.press-logo {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.hovered {
  background-color: var(--off-white);
}

/*
list-view 영역
*/

.list-view {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  border: 0.5px solid #D2DAE0;
  position: relative;
  height: 340px;
}

.list-view__header {
  display: flex;
  background-color: var(--off-white);
  border: 1px solid #D2DAE0;
  grid-row-start: 1;
  grid-row-end: 2;
}

.list-view__current-category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: 160px;
  height: 100%;
  background-color: #7993f0;
  color: white;
}

.current-category {
  font-size: var(--font-lg);
  grid-column-start: 1;
  grid-column-end: 3;
}

.current-page {
  font-size: var(--font-s);
  grid-column-start: 3;
  grid-column-end: 5;
}

.category-direction {
  grid-column-start: 4;
  grid-column-end: 5;
}

.list-view__category {
  width: 10%;
  color: var(--color-gray-600);
  font-size: var(--font-lg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-view__main {
  padding: 0 3%;
  grid-row-start: 2;
  grid-row-end: 11;
  display: flex;
}

.list-view-main__section-main {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  height: 100%;
}

.list-view-main__header {
  display: flex;
  gap: 7%;
  grid-row-start: 1;
  grid-row-end: 3;
  align-items: center;
  width: 320px;
  align-items: flex-end;
  padding-bottom: 10px;
}

.list-view-main__press {
  height: 20px;
}

.list-view-main__edit-time {
  font-size: var(--font-s);
  color: var(--color-gray-600)
}

.list-view-main__contents {
  width: 320px;
  grid-row-start: 3;
  grid-row-end: 13;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

.list-view-main__main-news-image {
  width: 320px;
  height: 200px;
}

.list-view-main__main-news-title {
  font-size: var(--font-s);
  grid-row-start: 2;
  grid-row-end: 5;
}

.list-view-main__section-sub {
  padding: 47px 0 0 20px;
}

.list-view-main__sub-news-title {
  padding-bottom: 15px;
  font-size: var(--font-lg);
  color: var(--color-gray-800)
}

.list-view-main__sub-news-notice {
  font-size: var(--font-md);
  color: var(--color-gray-600)
}

/*
notice view
*/

.notice-view {
  height: 340px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 0.5px solid #D2DAE0;
}

.notice-view__title {
  font-weight: var(--weight-extra-bold);
  font-size: 18px;
  padding-bottom: 20px;
}

.notice-view__article {
  font-size: var(--font-xl);
  padding-bottom: 5px;
}

.redirect-grid-view-button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: 50px;
  padding: 0 18px;
  border-radius: 2px;
  color: var(--color-white);
  background-color: var(--color-primary);
  cursor: pointer;
}