ns-header div {
  display: flex;
}

ns-header img {
  margin-right: 0.5rem;
}

ns-header .header-container {
  width: 930px;
}

ns-header .todayDate {
  color: var(--gray500);
  flex-grow: 1;
  justify-content: end;
  align-items: center;
}
