@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0; /* 3 */
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
  top: 15vh;
  width: 1280px;
  height: 720px;
  padding: 60px 0 70px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #879298;
}

.hidden {
  display: none;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.title-area {
  width: 930px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-area .link-newsstand {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.title-area .link-newsstand::before {
  display: inline-block;
  width: 30px;
  height: 20px;
  content: " ";
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 1.75V16.5C19.9998 16.6249 20.0463 16.7455 20.1305 16.8378C20.2147 16.9301 20.3304 16.9876 20.4548 16.9989C20.5793 17.0102 20.7034 16.9745 20.8028 16.8988C20.9023 16.8231 20.9697 16.7129 20.992 16.59L21 16.5V3H22.25C22.6892 3.00002 23.1123 3.16517 23.4354 3.46268C23.7585 3.76019 23.9579 4.1683 23.994 4.606L24 4.75V16.75C24.0001 17.5801 23.6824 18.3788 23.1123 18.9822C22.5422 19.5856 21.7628 19.948 20.934 19.995L20.75 20H3.25C2.41986 20.0001 1.62117 19.6824 1.01777 19.1123C0.414367 18.5422 0.0519987 17.7628 0.00500011 16.934L0 16.75V1.75C1.64046e-05 1.31081 0.165171 0.887682 0.46268 0.564609C0.760189 0.241536 1.1683 0.0421391 1.606 0.00600004L1.75 0H18.25C18.6892 1.64046e-05 19.1123 0.165171 19.4354 0.46268C19.7585 0.760189 19.9579 1.1683 19.994 1.606L20 1.75ZM7.747 9.004H5.25C4.81081 9.00402 4.38768 9.16917 4.06461 9.46668C3.74154 9.76419 3.54214 10.1723 3.506 10.61L3.5 10.754V13.25C3.50002 13.6892 3.66517 14.1123 3.96268 14.4354C4.26019 14.7585 4.6683 14.9579 5.106 14.994L5.25 15H7.747C8.18635 15 8.60961 14.8347 8.93271 14.537C9.25581 14.2392 9.4551 13.8309 9.491 13.393L9.496 13.25V10.754C9.49623 10.3146 9.33119 9.89126 9.03366 9.56798C8.73613 9.24469 8.32787 9.04515 7.89 9.009L7.747 9.004ZM15.75 13.5H12.25L12.148 13.507C11.9685 13.5317 11.804 13.6206 11.6849 13.7571C11.5658 13.8937 11.5002 14.0688 11.5002 14.25C11.5002 14.4312 11.5658 14.6063 11.6849 14.7429C11.804 14.8794 11.9685 14.9683 12.148 14.993L12.25 15H15.75L15.852 14.993C16.0315 14.9683 16.196 14.8794 16.3151 14.7429C16.4342 14.6063 16.4998 14.4312 16.4998 14.25C16.4998 14.0688 16.4342 13.8937 16.3151 13.7571C16.196 13.6206 16.0315 13.5317 15.852 13.507L15.75 13.5ZM5.25 10.504H7.747C7.80319 10.504 7.85772 10.523 7.90181 10.5578C7.9459 10.5927 7.97696 10.6413 7.99 10.696L7.997 10.754V13.25C7.99691 13.3063 7.9778 13.361 7.94277 13.4051C7.90774 13.4492 7.85884 13.4802 7.804 13.493L7.747 13.5H5.25C5.19368 13.4999 5.13904 13.4808 5.09493 13.4458C5.05083 13.4107 5.01984 13.3618 5.007 13.307L5 13.25V10.754C4.99987 10.6975 5.01887 10.6426 5.05392 10.5983C5.08897 10.554 5.13799 10.5229 5.193 10.51L5.25 10.504ZM15.75 9.004H12.25L12.148 9.01C11.9677 9.03389 11.8023 9.12246 11.6824 9.25923C11.5626 9.396 11.4965 9.57165 11.4965 9.7535C11.4965 9.93535 11.5626 10.111 11.6824 10.2478C11.8023 10.3845 11.9677 10.4731 12.148 10.497L12.25 10.504H15.75L15.852 10.497C16.0323 10.4731 16.1977 10.3845 16.3176 10.2478C16.4374 10.111 16.5035 9.93535 16.5035 9.7535C16.5035 9.57165 16.4374 9.396 16.3176 9.25923C16.1977 9.12246 16.0323 9.03389 15.852 9.01L15.75 9.004ZM15.75 4.497H4.25L4.148 4.504C3.96849 4.5287 3.80399 4.61755 3.68491 4.75414C3.56583 4.89072 3.50023 5.0658 3.50023 5.247C3.50023 5.4282 3.56583 5.60328 3.68491 5.73986C3.80399 5.87645 3.96849 5.9653 4.148 5.99L4.25 5.997H15.75L15.852 5.99C16.0315 5.9653 16.196 5.87645 16.3151 5.73986C16.4342 5.60328 16.4998 5.4282 16.4998 5.247C16.4998 5.0658 16.4342 4.89072 16.3151 4.75414C16.196 4.61755 16.0315 4.5287 15.852 4.504L15.75 4.497Z' fill='%234362D0'/%3E%3C/svg%3E%0A");
}
.title-area .system-time {
  font-size: 16px;
  font-weight: 500;
  color: #4B5966;
}

.rolling-container {
  width: 930px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.rolling-container .rolling-box {
  width: 100%;
  height: 50px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  background-color: #F5F7F9;
  border: 1px solid #D2DAE0;
  gap: 15px;
}
.rolling-container .rolling-box .link-press {
  font-size: 14px;
  font-weight: 700;
}
.rolling-container .rolling-box .flick-container {
  height: 16px;
  overflow: hidden;
}
.rolling-container .rolling-box .flick-container .flick-panels {
  height: 16px;
  will-change: transform;
}
.rolling-container .rolling-box .flick-container .flick-panels .flick-panel {
  font-size: 14px;
  font-weight: 500;
  color: #4B5966;
}
.rolling-container .rolling-box .flick-container .flick-panels .flick-panel:hover {
  text-decoration: underline #4B5966;
  cursor: pointer;
}

main {
  box-sizing: content-box;
  margin: 0 auto;
}
main .sort-buttons {
  width: 930px;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .sort-buttons .press-buttons, main .sort-buttons .view-buttons {
  display: flex;
  gap: 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #D2DAE0;
}
main .sort-buttons .press-buttons .active, main .sort-buttons .view-buttons .active {
  font-size: 16px;
  font-weight: 700;
  color: #14212B;
}
main .view-buttons .list, main .view-buttons .list-active,
main .view-buttons .grid,
main .view-buttons .grid-active {
  width: 18px;
  height: 18px;
  display: inline-block;
  cursor: pointer;
}
main .view-buttons .list, main .view-buttons .list-active {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 2V16H2V2H16ZM17.1 0H0.9C0.4 0 0 0.4 0 0.9V17.1C0 17.5 0.4 18 0.9 18H17.1C17.5 18 18 17.5 18 17.1V0.9C18 0.4 17.5 0 17.1 0ZM8 4H14V6H8V4ZM8 8H14V10H8V8ZM8 12H14V14H8V12ZM4 4H6V6H4V4ZM4 8H6V10H4V8ZM4 12H6V14H4V12Z' fill='%23D2DAE0'/%3E%3C/svg%3E%0A");
}
main .view-buttons .list:hover, main .view-buttons .list-active:hover {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 2V16H2V2H16ZM17.1 0H0.9C0.4 0 0 0.4 0 0.9V17.1C0 17.5 0.4 18 0.9 18H17.1C17.5 18 18 17.5 18 17.1V0.9C18 0.4 17.5 0 17.1 0ZM8 4H14V6H8V4ZM8 8H14V10H8V8ZM8 12H14V14H8V12ZM4 4H6V6H4V4ZM4 8H6V10H4V8ZM4 12H6V14H4V12Z' fill='%236E8091'/%3E%3C/svg%3E%0A");
}
main .view-buttons .list-active {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 2V16H2V2H16ZM17.1 0H0.9C0.4 0 0 0.4 0 0.9V17.1C0 17.5 0.4 18 0.9 18H17.1C17.5 18 18 17.5 18 17.1V0.9C18 0.4 17.5 0 17.1 0ZM8 4H14V6H8V4ZM8 8H14V10H8V8ZM8 12H14V14H8V12ZM4 4H6V6H4V4ZM4 8H6V10H4V8ZM4 12H6V14H4V12Z' fill='%234362D0'/%3E%3C/svg%3E%0A");
}
main .view-buttons .grid, main .view-buttons .grid-active {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M0 8V0H8V8H0ZM0 18V10H8V18H0ZM10 8V0H18V8H10ZM10 18V10H18V18H10ZM2 6H6V2H2V6ZM12 6H16V2H12V6ZM12 16H16V12H12V16ZM2 16H6V12H2V16Z' fill='%23D2DAE0'/%3E%3C/svg%3E");
}
main .view-buttons .grid:hover, main .view-buttons .grid-active:hover {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M0 8V0H8V8H0ZM0 18V10H8V18H0ZM10 8V0H18V8H10ZM10 18V10H18V18H10ZM2 6H6V2H2V6ZM12 6H16V2H12V6ZM12 16H16V12H12V16ZM2 16H6V12H2V16Z' fill='%236E8091'/%3E%3C/svg%3E");
}
main .view-buttons .grid-active {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath d='M0 8V0H8V8H0ZM0 18V10H8V18H0ZM10 8V0H18V8H10ZM10 18V10H18V18H10ZM2 6H6V2H2V6ZM12 6H16V2H12V6ZM12 16H16V12H12V16ZM2 16H6V12H2V16Z' fill='%234362D0'/%3E%3C/svg%3E");
}

.press-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 24px;
  Padding: 0px 8px;
  border: 1px solid #D2DAE0;
  border-radius: 50px;
  cursor: pointer;
}
.press-button span {
  color: #879298;
  font-size: 12px;
  font-weight: 500;
}
.press-button img {
  width: 7px;
}

.subscribe {
  width: 74px;
  background-color: #FFFFFF;
}

.unsubscribe {
  width: 74px;
  background-color: #F5F7F9;
}

.close {
  width: 24px;
  background-color: #FFFFFF;
}
.close img {
  width: 6px;
}

.view-container {
  position: relative;
  width: 930px;
  height: 390px;
}
.view-container .list-container,
.view-container .grid-area {
  width: 930px;
  height: 390px;
  border: 1px solid #D2DAE0;
}
.view-container .prev-button,
.view-container .next-button {
  position: absolute;
  display: inline-block;
  top: 174px;
  width: 25px;
  height: 40px;
  cursor: pointer;
}
.view-container .prev-button {
  left: -55px;
  background-image: url("/src/assets/icons/LeftButton.svg");
}
.view-container .next-button {
  right: -55px;
  background-image: url("/src/assets/icons/RightButton.svg");
}
.view-container .grid-area {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #D2DAE0;
  grid-gap: 1px;
}
.view-container .grid-area .grid-cell:not(.cell-button) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
.view-container .grid-area img {
  height: 20px;
}

.no-subscription {
  width: 930px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #FFFFFF;
  border: solid #D2DAE0;
  border-width: 0 1px 1px 0;
}
.no-subscription h3 {
  font-size: 16px;
  font-weight: 700;
  color: #14212B;
}
.no-subscription p {
  font-size: 14px;
  font-weight: 500;
  color: #879298;
  text-align: center;
}

.category-area {
  height: 40px;
  line-height: 40px;
  background-color: #F5F7F9;
  border-bottom: 1px solid #D2DAE0;
  overflow-x: hidden;
  overflow-y: hidden;
}
.category-area .list-category, .category-area .list-category-subscribed {
  display: flex;
}
.category-area .list-category-subscribed {
  width: max-content;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.category-area .list-category-subscribed::-webkit-scrollbar {
  display: none;
}
.category-area .list-category li:not(.current, .current-subscribed), .category-area .list-category-subscribed li:not(.current, .current-subscribed) {
  display: inline-block;
  height: 40px;
  width: auto;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
  color: #6E8091;
}
.category-area .list-category li:not(.current, .current-subscribed):hover, .category-area .list-category-subscribed li:not(.current, .current-subscribed):hover {
  text-decoration: underline #6E8091;
  cursor: pointer;
}

.content-area {
  width: 930px;
  padding: 24px;
}
.content-area .press-box {
  height: 25px;
  line-height: 25px;
  gap: 16px;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  color: #5f6E76;
}
.content-area .press-box img {
  height: 20px;
}
.content-area .news-box {
  display: flex;
  padding: 16px 0;
  justify-content: flex-start;
  gap: 45px;
}
.content-area .news-box .main-news {
  width: 320px;
}
.content-area .news-box .main-news .main-thumbnail {
  display: block;
  overflow: hidden;
}
.content-area .news-box .main-news .main-thumbnail img {
  height: 200px;
  width: 320px;
  transition: all 0.2s linear;
}
.content-area .news-box .main-news .main-thumbnail img:hover {
  transform: scale(1.1);
}
.content-area .news-box .main-news .main-title {
  height: 40px;
  display: block;
  margin-top: 12px;
  line-height: 20px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  color: #14212B;
}
.content-area .news-box .main-news .main-title:hover {
  text-decoration: underline #14212B;
  cursor: pointer;
}
.content-area .news-box .sub-news {
  height: 245px;
  width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-area .news-box .sub-news .list-news li {
  line-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  color: #4B5966;
}
.content-area .news-box .sub-news .list-news li:hover {
  text-decoration: underline #4B5966;
  cursor: pointer;
}
.content-area .news-box .sub-news .notice-msg {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #879298;
}

.current, .current-subscribed {
  width: 166px;
  height: 40px;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 700;
  background-color: #4362D0;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  cursor: default;
}
.current-subscribed {
  height: 40px;
  background-color: #7890E7;
}
.current-subscribed img {
  width: 7px;
}
.current div > span:nth-child(2), .current-subscribed div > span:nth-child(2) {
  color: rgba(255, 255, 255, 0.7);
}