@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: Pretendard, sans-serif;
  color: #14212b;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}
.header__today {
  font-size: 16px;
  font-weight: 500;
  line-height: 2.2rem;
  color: #4b5966;
}

.main-content__header .press-tab {
  font-size: 16px;
  font-weight: 500;
  line-height: 2.2rem;
  color: #879298;
}
.main-content__header .press-tab-btn.active {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #14212b;
}

.nav-bar__press {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
}
.nav-bar__headLine-wrapper {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #4b5966;
}

.subscribe-toggle-btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: #879298;
}

#app {
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border: 1px solid #000;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: row;
}

.nav-bar {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: row;
  padding: 16px;
}
.nav-bar__press {
  margin-right: 16px;
}

.main-content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid #000;
}

.main-content__header {
  padding: 10px 0;
}
.main-content__header .press-tab,
.main-content__header .show-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main-content__header .press-tab-btn,
.main-content__header .show-tab img {
  cursor: pointer;
}
.main-content__header .press-tab-btn:not(:last-child) {
  margin-right: 24px;
}
.main-content__header .show-tab__list {
  margin-right: 14px;
}

.main-content__container {
  position: relative;
}

.main-content__grid-before-btn {
  position: absolute;
  top: 50%;
  left: -47px;
  transform: translate3d(0, -50%, 0);
}
.main-content__grid-next-btn {
  position: absolute;
  top: 50%;
  right: -47px;
  transform: translate3d(0, -50%, 0);
}
.main-content__grid-wrapper {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: row;
  overflow-x: hidden;
}

.press-grid {
  display: grid;
  grid-template-columns: repeat(6, 155px);
}

.press-grid__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.press-grid__item .subscribe-toggle-btn-container {
  display: none;
  position: absolute;
}
.press-grid__item:hover .subscribe-toggle-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#app {
  width: 930px;
}

.nav-bar {
  background-color: #d2dae0;
  width: 460px;
  height: 49px;
}
.nav-bar__press, .nav-bar__headLine, .nav-bar__headLine-wrapper {
  height: 14px;
}
.nav-bar__headLine {
  overflow-y: hidden;
}
.nav-bar__headLine-wrapper a {
  display: inline-block;
}
.nav-bar__headLine-wrapper.rolling {
  transform: translate3d(0, -100%, 0);
  transition: transform 1s linear;
}

.press-grid {
  height: 388px;
}

.press-grid__item {
  border: 1px solid #879298;
}
.press-grid__item .press-logo {
  height: 25px;
}
.press-grid__item .subscribe-toggle-btn-container {
  width: 100%;
  height: 100%;
  background-color: #f5f7f9;
}
.press-grid__item .subscribe-toggle-btn-container .subscribe-toggle-btn {
  width: 74px;
  height: 24px;
  border: 1px solid #d2dae0;
  border-radius: 50px;
  background-color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
