.main-content__grid,
.main-content__list {
  &-wrapper {
    overflow-x: hidden;
  }
}

.press-grid {
  height: 388px;
}
.press-grid__item {
  border: 1px solid $gray200;

  .press-logo {
    height: 25px;
  }
  .subscribe-toggle-btn-container {
    width: 100%;
    height: 100%;
    background-color: $off-white;

    .subscribe-toggle-btn {
      width: 74px;
      height: 24px;
      border: 1px solid #d2dae0;
      border-radius: 50px;
      background-color: $white;
    }
  }
}

.main-content__list {
  height: 388px;

  &-wrapper {
    height: 100%;
  }
}

.press-list__category {
  border: 1px solid $gray100;
  background-color: $off-white;
  li {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
  }
}

.press-list__info {
  height: 24px;

  a .press-logo {
    height: 20px;
  }

  .subscribe-toggle-btn {
    width: 74px;
    height: 24px;
    border: 1px solid $gray100;
    border-radius: 50px;
    background-color: $off-white;
  }
}

.press-list__main-news:hover {
  .main-news__img {
    transform: scale(1.05);
    transition: transform 0.2s ease-in;
  }
  .main-news__content {
    text-decoration: underline;
  }
}
.main-news {
  &__thumbnail,
  &__img {
    width: 320px;
    height: 200px;
  }

  &__thumbnail {
    overflow: hidden;
  }
}
