.nav-bar {
  background-color: $gray100;
  width: 460px;
  height: 49px;

  &__press,
  &__headLine {
    height: 14px;
  }

  &__headLine {
    overflow-y: hidden;
  }

  &__headLine-wrapper {
    a {
      display: inline-block;
    }
  }
}
