.main-content {
  &__header {
    @include flex-row($justify-content: space-between, $align-items: center);
    border: 1px solid #000;
  }
}

.main-content__header {
  padding: 10px 0;
  .press-tab,
  .show-tab {
    @include flex-row($justify-content: space-between, $align-items: center);
  }
  .press-tab-btn,
  .show-tab img {
    cursor: pointer;
  }
  .press-tab-btn:not(:last-child) {
    margin-right: 24px;
  }
  .show-tab__list {
    margin-right: 14px;
  }
}

.main-content__grid {
  @include flex-row();
}
.press-grid {
  display: grid;
  grid-template-columns: repeat($grid-columns-count, calc($app-width/$grid-columns-count));

  &__item {
    @include flex-row($justify-content: center, $align-items: center);
  }
}
