.main-content {
  &__header {
    @include flex-row($justify-content: space-between, $align-items: center);
    border: 1px solid #000;
  }
}

.main-content__header {
  padding: 10px 0;
  .press-tab,
  .show-tab {
    @include flex-row($justify-content: space-between, $align-items: center);
  }
  .press-tab-btn,
  .show-tab img {
    cursor: pointer;
  }
  .press-tab-btn:not(:last-child) {
    margin-right: 24px;
  }
  .show-tab__list {
    margin-right: 14px;
  }
}

.main-content__container {
  position: relative;
}

.main-content__grid {
  &-before-btn {
    position: absolute;
    top: 50%;
    left: -47px;
    transform: translate3d(0, -50%, 0);
  }
  &-next-btn {
    position: absolute;
    top: 50%;
    right: -47px;
    transform: translate3d(0, -50%, 0);
  }
  &-wrapper {
    @include flex-row();
    overflow-x: hidden;
  }
}
.press-grid {
  display: grid;
  grid-template-columns: repeat($grid-columns-count, calc($app-width/$grid-columns-count));
}
.press-grid__item {
  @include flex-row($justify-content: center, $align-items: center);
  position: relative;

  .subscribe-toggle-btn-container {
    display: none;
    position: absolute;
  }
  &:hover .subscribe-toggle-btn-container {
    @include flex-row($justify-content: center, $align-items: center);
  }
}
