.main-content {
  &__header {
    @include flex($justify-content: space-between, $align-items: center);
    border: 1px solid #000;
  }
}

.main-content__header {
  padding: 10px 0;
  .press-tab,
  .show-tab {
    @include flex($justify-content: space-between, $align-items: center);
  }
  .press-tab-btn,
  .show-tab img {
    cursor: pointer;
  }
  .press-tab-btn:not(:last-child) {
    margin-right: 24px;
  }
  .show-tab__list {
    margin-right: 14px;
  }
}

.main-content__grid,
.main-content__list {
  position: relative;
  &.display-none {
    display: none;
  }

  &-before-btn.hidden,
  &-next-btn.hidden {
    visibility: hidden;
  }
  &-before-btn {
    position: absolute;
    top: 50%;
    left: -47px;
    transform: translate3d(0, -50%, 0);
  }
  &-next-btn {
    position: absolute;
    top: 50%;
    right: -47px;
    transform: translate3d(0, -50%, 0);
  }
  &-wrapper {
    overflow-x: hidden;
  }
}
.press-grid {
  display: grid;
  grid-template-columns: repeat($grid-columns-count, calc($app-width/$grid-columns-count));
  &.display-none {
    display: none;
  }
}
.press-grid__item {
  @include flex($justify-content: center, $align-items: center);
  position: relative;

  .subscribe-toggle-btn-container {
    display: none;
    position: absolute;
  }
  &:hover .subscribe-toggle-btn-container {
    @include flex($justify-content: center, $align-items: center);
  }
}

.press-list__category {
  @include flex($align-items: center);

  li {
    padding: 0 16px;
  }
}

.press-list__content {
  padding: 24px;
}
.press-list__info {
  @include flex($align-items: center);

  a {
    display: inline-block;
  }

  .update-time {
    padding: 0 16px;
  }
}
