main {
  box-sizing: content-box;
  margin: 0 auto;

  .sort-buttons {
    width: $containerWidth;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .press-buttons {
      display: flex;
      gap: 15px;
      cursor: pointer;
      @include font($bodyMD, $medium);
      color: $gray100;

      .active {
        @include font($titleMD, $bold);
        color: $black;
      }
    }
  }

  .view-buttons {
    @extend .press-buttons;

    .list,
    .grid {
      width: 18px;
      height: 18px;
      display: inline-block;
      cursor: pointer;
    }

    .list {
      background: icon(list, $icon-gray100);

      &:hover {
        background: icon(list, $icon-gray300);
      }
    }

    .list-active {
      @extend .list;
      background: icon(list, $icon-primary);
    }

    .grid {
      background: icon(grid, $icon-gray100);

      &:hover {
        background: icon(grid, $icon-gray300);
      }
    }

    .grid-active {
      @extend .grid;
      background: icon(grid, $icon-primary);
    }
  }
}