.cell-button {
  height: 24px;
  Padding: 0px 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid $gray100;
  border-radius: 50px;
  cursor: pointer;

  span {
    color: $gray200;
    @include font($titleXS, $medium);
  }

  img {
    width: 7px;
  }
}

.subscribe {
  width: 74px;
  background-color: $white;
}

.unsubscribe {
  width: 74px;
  background-color: $offwhite;
}

.close {
  width: 24px;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 6px;
  }
}

.popup-confirm {
  position: absolute;
  top: 130px;
  left: 305px;
  width: $boxWidth;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: $white;

  &::after {
    z-index: $afterZindex;
    position: absolute;
    left: -480px;
    top: -190px;
    width: $afterWidth;
    height: $afterHeight;
    content: '';
  }

  p {
    width: $boxWidth;
    height: 100%;
    padding: 28px;
    color: $gray400;
    border: 1px solid $gray100;

    strong {
    color: $black;
    }
  }

  .popup-btn {
    z-index: $popupZindex;
    width: $boxWidth;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $offwhite;
    border: solid $gray100;
    border-width: 0px 1px 1px 1px;

    a {
      width: 100%;
      height: 50px;
      line-height: 50px;

      &:hover {
        text-decoration: underline $gray400;
        cursor: pointer;
      }

      &:nth-child(1) {
        border-right: 1px solid $gray100;
      }
    }
  }
}

.popup-add {
  z-index: $popupZindex;
  position: absolute;
  top: 130px;
  left: 305px;
  width: $boxWidth;
  height: 55px;
  line-height: 55px;
  text-align: center;
  background-color: $primary;
  color: $white;
  cursor: defalt;

  &::after {
    z-index: $afterZindex;
    position: absolute;
    left: -480px;
    top: -190px;
    width: $afterWidth;
    height: $afterHeight;
    content: '';
  }
}