.view-container {
  position: relative;
  width: $containerWidth;
  height: 390px;

  .grid-container,
  .list-container,
  .grid-area {
    width: inherit;
    height: inherit;
  }

  .prev-button,
  .next-button {
    position: absolute;
    top: 174px;
    display: inline-block;
    width: 25px;
    height: 40px;
    cursor: pointer;
  }

  .prev-button {
    left: -55px;
    background-image: url('/src/assets/icons/LeftButton.svg');
  }

  .next-button {
    right: -55px;
    background-image: url('/src/assets/icons/RightButton.svg');
  }

  .grid-area {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 96.5px);
    background-color: $gray100;
    border: 1px solid $gray100;
    grid-gap: 1px;
    overflow-y: hidden;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
    }
  }
}