:root {
  --color-white-70: #ffffff, 70%;
  --color-white: #ffffff;
  --color-off-white: #f5f7f9;
  --color-gray-100: #d2dae0;
  --color-gray-200: #879298;
  --color-gray-300: #6e8091;
  --color-gray-400: #5f6e76;
  --color-gray-500: #4b5966;
  --color-black: #14212b;
  --color-primary: #4362d0;
}