.journal-track {
  width: 900px;
  overflow-x: hidden;
}
.track-btn_left,
.track-btn_right {
  position: absolute;
  top: 60%;
  background-color: transparent;
  border: none;
}

.track-btn_left {
  left: 90px;
}

.track-btn_right {
  right: 90px;
}
