.journal-track {
  width: 900px;
  overflow-x: hidden;
}

.journal-track {
  position: relative;
}

.track-btn {
  position: absolute;
  z-index: 1;
  top: 44%;
  background-color: white;
  border: none;
}

.track-btn:nth-child(2) {
  left: 1px;
}

.track-btn:nth-child(3) {
  right: 1px;
}
