.news-stand-jounalList {
  width: 70%;
  height: auto;
}

.journal-header {
  justify-content: space-between;
  margin-bottom: 35px;
}

.journal-area {
  gap: 20px;
  cursor: pointer;
}

.journal-btns {
  gap: 10px;
  cursor: pointer;
}

.journal-track {
  border: 1px solid var(--gray100);
}

.journal-container {
  display: flex;
  height: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.journal-batch {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 150px));
  grid-template-rows: repeat(4, minmax(95px, 95px));
}

.journal-item {
  border: 1px solid var(--gray100);
}

.journal-item_show,
.journal-item_hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.journal-item_hover button {
  font-size: 15px;
}

.journal-item_hover button:first-child {
  margin-right: 7px;
}

.journal-item_show img {
  width: 50%;
}

.journal-empty {
  width: 900px;
  height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.journal-empty img {
  width: 150px;
}
