html {
  font-size: 16px;
}

:root {
  --color-black: #10141a;
  --color-black-tr40: rgba(16, 20, 26, 0.4);

  --color-white: #ffffff;
  --off-white: #f5F7F9;
  --color-gray-400: #d5d5d5;
  --color-gray-500: #c1c1c1;
  --color-gray-600: #878787;
  --color-gray-700: #535353;
  --color-gray-800: #2a3648;

  --color-primary: #4362D0;

  /* Font size */
  --font-xl: 16px;
  --font-lg: 14px;
  --font-md: 12px;

  /* Font weight */
  --weight-extra-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;

  /* Border radius */
  --border-radius: 4px;
}