.newsstand_headline {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 33px;
}

.headline_rolling-container {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 461px;
  height: 49px;
  background-color: $off-white;
  border: 1px solid $gray100;
  overflow: hidden;
}

.media {
  margin-left: 16px;
  font-size: $title-sm;
  font-weight: $bold;
}

.issue {
  line-height: 40px;
  font-size: $title-sm;
  font-weight: $medium;
  color: $gray500;
}
