// color
$white: #ffffff;
$white70: #ffffff, 70%;
$off-white: #f5f7f9;
$gray100: #d2dae0;
$gray200: #879298;
$gray300: #6e8091;
$gray400: #5f6e76;
$gray500: #4b5966;
$black: #14212b;
$primary: #4362d0;

// font-size 기준: 10px
$display: 2.4rem;
$title-md: 1.6rem;
$title-sm: 1.4rem;
$title-xs: 1.2rem;
$body-md: 1.6rem;
$body-sm: 1.4rem;
$body-xs: 1.2rem;

// font-weight
$bold: 700;
$medium: 500;
