.news-stand {
  width: 1280px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.news-stand-component_size {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  margin-bottom: 40px;
}
