<header class="main-header">
  <div class="main-header__media">
    <div class="main-header__all-media"></div>
    <div class="main-header__my-media"></div>
  </div>

  <div class="main-header__buttons">
    <img class="main-header__list-button" src="./asset/listIcon.svg" />
    <img class="main-header__grid-button" src="./asset/gridIcon.svg" />
  </div>
</header>

<section class="grid-media"></section>

<a role="button" class="left-button">
  <img src="./asset/leftButton.svg" alt="leftButton" />
</a>
<a role="button" class="right-button">
  <img src="./asset/rightButton.svg" alt="rightButton" />
</a>

thumb_box _NM_NEWSSTAND_THUMB _NM_NEWSSTAND_THUMB_press_valid thumb_box
_NM_NEWSSTAND_THUMB _NM_NEWSSTAND_THUMB_press_valid thumb_hover
